Xft.dpi: 128
Xft.autohint: 0
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

xterm*font: terminus-32
xterm.termName: xterm-256color
xterm*saveLines: 4096
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*boldMode: false
xterm*vt100*geometry: 100x25
xterm*vt100*metaSendsEscape: true
xterm*vt100*scrollBar: true
xterm*vt100*scrollbar.width: 8
xterm*vt100*selectToClipboard: true
xterm*vt100*bellIsUrgent: true

xterm*background: #212121
xterm*foreground: #FFFFFF
xterm*color0:     #2E3436
xterm*color1:     #CC0000
xterm*color2:     #4E9A06
xterm*color3:     #C4A000
xterm*color4:     #3465A4
xterm*color5:     #75507B
xterm*color6:     #06989A
xterm*color7:     #D3D7CF
xterm*color8:     #555753
xterm*color9:     #EF2929
xterm*color10:    #8AE234
xterm*color11:    #FCE94F
xterm*color12:    #729FCF
xterm*color13:    #AD7FA8
xterm*color14:    #34E2E2
xterm*color15:    #EEEEEC
